body {
  display: block;
  margin: 0;
  padding: 0;
  background-image: url('../assets/backgroundSobre.jpg');
  background-repeat: no-repeat;
  background-size: 115%;
  color: white;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

.container_header {
  margin-top: -30px;
  width: 1040px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#titulo {
  font-size: 50px;
  font-weight: 900;
  color: white;
}

#linha {
  margin-top: -20px;
  background-color: white;
  width: 510px;
  height: 2px;
  margin-bottom: 50px;
}

.btnStyle {
  background-color: #395D05;
  height: 30px;
  width: 90px;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.4s;
}

a {
  display: flex;
  margin: 10px;
}

.btnStyle:hover {
  background-color: white;
  color: #395D05;
  border: 1px solid #000;
  transition: 0.4s;
}

#lista {
  margin-top: -30px;
}

.conteudo {
  height: fit-content;
  width: 840px;
  margin-left: 20px;
}

.h2 {
  margin-left: 20px;
  font-size: 28px;
}

.conteudo p {
  font-size: 22px;
}